<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script>
            last_channel = localStorage.getItem('last_channel')
            if(last_channel != null) {
                window.location.replace(last_channel);
            }
        </script>
        <title>Flack</title>
    </head>
    <body>
        <form action="{{ url_for('index') }}" method="POST">
            <input type="text" name="name" placeholder="Enter a display name">
            <button>Submit</button>
        </form>
        <p>Hello {{ name }}</p>
        <br>
        <h1>Channels</h1>
        <form action="{{ url_for('index') }}" method="POST">
            <input type="text" name="new_channel" placeholder="Create a channel">
            <button>Add</button>
        </form>
        <ul>
            {% for channel in channels %}
                <li><a href="{{ url_for('channel', channel_name=channel) }}">{{ channel }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>